Storing and retrieving future dates and times

Given the purpose of this library it occurs to me that there's something else you could try to help users with: storing and retrieving future date-time values.

To motivate, I'll refer to this post:

 * [Storing UTC is not a silver bullet](https://codeblog.jonskeet.uk/2019/03/27/storing-utc-is-not-a-silver-bullet/)

which recommends that developers "preserve local time, using UTC as derived data to be recomputed" in specific use-cases. (There's HackerNews discussion [here](https://news.ycombinator.com/item?id=19500640); one of the comments points to [RFC5545](https://tools.ietf.org/html/rfc5545). In particular, take a look at [section 3.3.5](https://tools.ietf.org/html/rfc5545#page-31).)

What I'm thinking is that this library could a) enumerate the different kinds of storage, different kinds of trade-offs; and b) provide appropriate encodings/decodings. Bonus points if the encodings/decodings aren't jut BLOBs—e.g., if they work well in CoreData, JSON, etc.!

RFC5545 Section 3.3.5 mentions three kinds of time:

 * FORM 1: DATE WITH LOCAL TIME
 * FORM 2: DATE WITH UTC TIME
 * FORM 3: DATE WITH LOCAL TIME AND TIME ZONE REFERENCE

It looks like Apple's Reminders app uses `FORM 1`, and Apple's Calendar app uses `FORM 3`. (Not surprising, just noting.) 

Based on light testing, I think the Reminders and Calendar apps also record the calendar of the date and time; if I create entries and change calendars the entries continue to make sense. They don't, for example, assume the entry was referring to the year 2020 in the newly selected calendar.

In RFC5545 a calendar is called a "Calendar Scale." Calendar Scales are described in [section 3.7.1](https://tools.ietf.org/html/rfc5545#section-3.7.1).

Here's a general proposal for storing datetimes as strings:

 * Define string formats based on RFC5549's three forms
 * Prefix or suffix the calendar, using RFC5549-like syntax
 * Assume, like RFC5549, that a missing calendar implies Gregorian

I'm still trying to work out whether or not there's a reliable way to store `FORM 1` datetimes as a numerical value. (Maybe "acceptable" would be a better word than "reliable.")

PS [This](https://www.youtube.com/watch?v=qabriMQ1SYs) video is full of interesting examples of datetime problems.

On the topic of `FORM 1` datetimes, this seems to work:

 * Define datetimes using `Region.posix`
 * Use `converting(to:)` to convert to the current calendar

The results seem to match the behaviour I saw in Reminders.

Still thinking all of this through (and still thinking through how it all might fail)...

Here's a worked example:

```swift
let inputRegion = Region(
    calendar: Calendar(identifier: .buddhist), 
    timeZone: TimeZone(secondsFromGMT: 0)!, 
    locale: .autoupdatingCurrent
)
let outputRegion = Region(
    calendar: .autoupdatingCurrent, 
    timeZone: TimeZone(secondsFromGMT: 0)!, 
    locale: .autoupdatingCurrent
)

let inputDateTime = Clock(region: inputRegion).thisMinute()
let storageDateTime = inputDateTime.converting(to: Region.posix)
let outputDateTime = storageDateTime.converting(to: outputRegion)
```

Remember that this is all about `FORM 1` "floating" datetimes, the kind used by Reminders.

Here are the core ideas:

 * The application defines an autoupdating, GMT `Region` for input and output:

```swift
Region(calendar: .autoupdatingCurrent, timeZone: TimeZone(secondsFromGMT: 0)!, locale: .autoupdatingCurrent)
```

 * The application uses `Region.posix` for storage:

```swift
Region.posix
```

 * The application converts from input/output region to storage region to input/output region:

```swift
let storageDateTime = someInputDateTime.converting(to: storageRegion)
let someOutputDateTime = storageDateTime.converting(to: inputOutputRegion)
```

The example at the top creates two different input/output regions in order to demonstrate Reminders-like conversion of something that originally used a Buddhist calendar to something that (in my case) uses a Gregorian calendar.

Here's a concrete suggestion:

 * `Time` can define a `floating` `Region` along the lines of what I described above.

Of course, it's trivially easy for users to define it themselves. The advantage to defining it in `Time` is really the documentation that describes what it's for.

I can do a pull request but I don't know if any of this is of interest...?

Ultimately my suggestion is to add these definitions to `Region`:

```swift
    public static let currentGMT = Region(
        calendar: .current, 
        timeZone: TimeZone(secondsFromGMT: 0)!, 
        locale: .current)
    
    public static let autoupdatingCurrentGMT = Region(
        calendar: .autoupdatingCurrent, 
        timeZone: TimeZone(secondsFromGMT: 0)!, 
        locale: .autoupdatingCurrent)
```

with an explanation that they're meant for Reminders-like "floating" datetimes (and that `Region.posix` should be used for calendar-independent storage).

Having said all that, maybe none of this is of interest? Should I close this?

I'll close this since the topic doesn't seem to be of interest.

(I've been successfully using the approach I outlined here.)